body{
	background: var(--dark);
	
}
.App {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.App__header {
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.App__logo {
	margin-bottom: 30px;
}

input[type=text] {
    width: 90%;
    padding: 4px 8px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid #111;
    box-sizing: border-box;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 3px inset, rgba(15, 15, 15, 0.2) 0px 1px 1px inset;
	background: rgba(15, 15, 15, 0.3);
	color:var(--primary);
}
input:focus{
	border: 2px solid var(--accent);
}

input{
	margin: 2px;
}

select:focus{
	border: 2px solid var(--accent);
}

select{
	width: 50%;
    padding: 4px 8px;
	border: 1px solid #111;
	background: rgba(15, 15, 15, 0.3);
	color:var(--primary);
	border: 2px solid #111;
}

option{
	background:black;
	border:1px solid var(--accent);
}

