.Tabs {
	position: relative;
	background:var(--secondary);
	
}

.Tabs__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	color:var(--primary);
}

.Tabs__item {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-size: 14px;
	height: 40px;
	border-bottom: 3px solid transparent;
	list-style: none;
	user-select: none;
	transition: border-color 0.35s;
}

.Tabs__item--selected {
	background-color: var(--dark);
	color: var(--accent);
	border-radius: var(--radius) var(--radius) 0px 0px;
	cursor: default;
}

.Tabs__item:not(.Tabs__item--selected):hover {
	background-color: var(--accent);
	border-radius: var(--radius) var(--radius) 0px 0px;
	transition-duration: 1.575s;
}

.Tabs__content {
	box-sizing: border-box;
	min-height: 200px;
	color:var(--primary);
	padding: 20px;
	background-color: var(--dark);
}

.Tabs__content p {
	margin-top: 0;
	line-height: 1.5;
}
